*.o
*.exe*
*.hex
*.d
*.*#*
*.srec
*.mk
*.map
*.lss
*.elf
*.atsuo
*Logs*
*.txt
*.csv
*.zip
*.gbl
*.gbo
*.gbp
*.gbs
*.gto
*.gtp
*.gts
*.gpb
*.gpt
*.gtl
*.gd1
*.gg1
*.gm*
cam.*
monitor/

ion2/HW/BATT_ctrl/Project*
ion2/HW/BLDC_ctrl/Project*
Gerbers/
__*/
ion2/WinMonitor*
.vs/
*Output*/